
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');


body{
    background: -webkit-linear-gradient(left, #7be4d9,#8cddd5, #4f85a5,#134a69,);
}
* {
    box-sizing: border-box;
    margin: 0;
}

/*========================CABECERA=========================*/
.logo {
    flex: 1;
    padding: 10px;
    justify-content:left;
    width: 80px;
    height: 80px;
} 

header {
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  z-index: 9999;
  nav{
    font-family: 'Raleway', sans-serif;
    flex-flow: row wrap;
    width: 100%;
    height: 100px;
    background-color: black;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: right;
    justify-content: center;
    position: sticky;
    top: 0;
    //z-index: 1;
    z-index: 9999;
   
  
  }    
  a,a:hover{
      color:white;
      margin-left:10px;
  }
}

/*=================PANTALLAS PRINCIPALES NUEVA CITA,MODIFICAR CITA Y ELIMINAR CITA=============================*/
.banner {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .banner-text-item {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
     
} 

.banner-heading {
    flex: 1;
}

.banner-heading h1 {
    font-size: 35px;
    font-weight: normal;
    color: #67fff0;
    font-family: 'Anton', sans-serif;
    text-shadow: -4px 3px 0 black;
    margin-top: 15px;
    margin-bottom: 15px;
     
}
.banner-text-item .form {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(260, 260, 260, 0.2);
    border-radius: 5px;
    width: 80%;
    padding: 1% 2%; 
}

.opciones{
  flex-direction: row;
}


/*========================PANTALLAS CONFIRMAR, NUEVA CITA Y CITA ELIMINADA =========================*/
.about {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
 .inicio{
    margin-bottom: 5%;
    width: 60%;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top:20px;
} 
.list {
  margin-top: 10px;
  width: 500px;
  line-height: 30px;
  color:black;
  font-weight: bolder;
  padding: 50px 0;
  font-family: 'Raleway', sans-serif;
}
/*========================BOTONES =========================*/
#boton{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    //font-family: 'Roboto Mono', monospace;
    font-family:'Raleway', sans-serif;
    width: 50%;
    margin-top: 100px,   
  
}
#botonInicio{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  //font-family: 'Roboto Mono', monospace;
  font-family:'Raleway', sans-serif;
  width: 50%;
  margin:10px;
}

.botones{
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        padding: 15px;
        cursor: pointer;
        background-color: white;;
        font-size: 16px;
        font-weight: normal;
        font-family: 'Raleway', sans-serif;
        //width: 50%;
        margin-top: 50px;      
}

/*========================FORMULARIO HORAS =========================*/

 .horas{
    font-family: 'Raleway', sans-serif;
    color:white;
    font-size: 1.5em;
}

.showHours{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .hours-free{
      grid-column: span 1;
      color: #495057;
      text-align: center;
      border: 1px solid #ced4da;
      border-radius: .45rem;
      padding: 10px;
      margin: 5px;
  }
  :hover{
      background-color:  #7be4d9;
      color: #FFFFFF;
      cursor: pointer;
  }
  .select {
      grid-column: span 1;
      background-color:  #7be4d9;
      color: #fff;
      border-radius: .45rem;
      text-align: center;
      padding: 10px;
      border: 1px solid #ced4da;
      margin: 5px;
  }
}
.hidden-hour{
  display: none;
}

/*========================FORMULARIO DATOS =========================*/
.group 			  { 
    position:relative; 
    margin-bottom:20px;
  } 
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid black;
    color:black;
    font-family: 'Raleway', sans-serif;
    //text-transform: uppercase;
    background-color:transparent;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    //color:#999; 
    color:rgb(32, 31, 31); 
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:15px;
    color:#7be4d9;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#7be4d9;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  .ocultar{
  display:none;
  }


  @media screen and (max-width: 900px) and (min-width: 600px) {
    .banner{
      padding: 30px;
    }

    .banner-heading h1{
      font-size: 15px;
    }
  }


  