
  <section class="banner" id="primerBloque">
    <div class="banner-text-item">
      <div class="banner-heading">
        <h1>Para eliminar introduce la clave de tu cita</h1>
      </div>

      <div class="group">
        <form>
          <input type="text" name="id" class="id" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Clave cita</label>

          Recuerda que te enviamos la clave de tu cita por email

          <button id="boton" type="button" class="botonEditar">Siguiente</button>
        </form>
      </div>
    </div>
  </section>

<section class="about ocultar" id="segundoBloque">
  <div class="about-text">
    <ul class="list">
      <h3><b>Vas a eliminar la siguiente cita:</b></h3><br>

      <h4 class="nombre">Nombre: </h4>
      <h4 class="email">email: </h4>
      <h4 class="telefono">teléfono: </h4>
      <h4 class="dia">Día: </h4>
      <h4 class="hora">Hora: </h4>
    </ul>
  </div>
  </div>
  <div class="col-6 d-flex justify-content-center align-items-center inicio">
    <form class="form" method="post" action="/citas/eliminar">

      <input type="text" name="id" id="idRecuperado" class="ocultar">


      <button class="cambiar" id="boton" type="submit">Eliminar</button>

    </form>
</section>

<script>
  let id = document.querySelector(".id")

  document.querySelector(".botonEditar").onclick = () => {
    fetch('/citas/procesar',
      {
        method: 'POST',
        body: JSON.stringify({ id: id.value }),
        headers: { 'Content-type': 'application/json' }
      })
      .then(res => res.json())
      .then(data => {
        console.log(data.cita.nombre)
        document.querySelector(".nombre").innerHTML += data.cita.nombre
        document.querySelector(".email").innerHTML += data.cita.email
        document.querySelector(".telefono").innerHTML += data.cita.telefono
        document.querySelector(".dia").innerHTML += data.cita.fecha
        document.querySelector(".hora").innerHTML += data.cita.hora

        document.querySelector("#idRecuperado").value = data.cita.id

        document.querySelector("#primerBloque").classList.add("ocultar") 
        document.querySelector("#segundoBloque").classList.remove("ocultar")  
      })
  }

</script>