<!--===========PANTALLA ERROR===============-->
<main>
  <section class="about">
    <div class="col-12 d-flex justify-content-center align-items-center inicio">
      <h1><b>Lo sentimos, la hora {{cita.hora}} para el día {{cita.fecha}} ya está ocupada. <br>Elige otra.</b></h1>
    </div>
    </div>

    <div class="col-12 d-flex justify-content-center align-items-center"></div>
   <button id="boton"class="volver">Nueva cita</button>
    </div>
</main>
