<main>
    <section class="banner">
        <div class="banner-text-item">
            <div class="banner-heading">
                <h1>Barber Beat Citas</h1>
              <div class="opciones">
              <a href="http://localhost:3003/citas/fecha"><button id="botonInicio" class="crear">Crear cita</button></a>  
              <a href="http://localhost:3003/citas/editar"> <button id="botonInicio" class="editar">Modificar cita</button></a>  
              <a href="http://localhost:3003/citas/eliminar"> <button id="botonInicio" class="editar">Eliminar cita</button></a>  

              </div>
            </div>
        </div>
           
    </section>
  
</main>