<!--===========CITA MODIFICADA CONFIRMADO===============-->
<main>
  <section class="about">
    <div class="col-12 d-flex justify-content-center align-items-center inicio">
      <img src="../images/citanueva.png" width="450px" height="450px" />
    </div>

    <div>
      <div class="col-12 d-flex justify-content-center align-items-center"></div>
      <a href="http://localhost:3003/"><button id="botones" class="volver">Cerrar</button></a>
    </div>
  </section>
</main>