<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserva tu cita</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
</head>

<body>
////////CABECERA////////
<header class="header align-middle justify-content-center">
    <nav class="navbar navbar-dark navbar-expand-sm"> <a class="navbar-brand" href="http://localhost:3003/"> <img class="logo"
          src="../images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
         </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav justify-content-end">
          
          <li > <a  href="http://localhost:3003/citas/fecha" target="vista">Nueva cita</a> </li>
          <li > <a   href="http://localhost:3003/citas/editar" target="vista">Modificar cita</a> </li>
          <li > <a   href="http://localhost:3003/citas/eliminar" target="vista">Eliminar cita</a> </li>               
                  
        </ul>
      </div>
    </nav>
  </header>




  {{{body}}}

</body>

</html>